.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.cf { display: inline-table; }
/* Hides from IE-mac \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* End hide from IE-mac */

html {
    background: #f9f9f9;
	font-family: 'Open Sans', Ubuntu, Helvetica, sans-serif;
}

body {

    color: #222;
    width: 45em;
    padding: 2em;
    margin: 2em auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.menu {
    list-style: none;
    padding: 0;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
}

.menu .active {
    font-weight: bold;
    text-decoration: underline;
    color: #222;
}

.menu .active a {
    color: #222;
}

header {
    font-family: Georgia, serif;
    font-size: 30px;
    text-align: center;
}

header img {
    /*width: 40px;
    height: 40px;*/
    vertical-align: middle;
    opacity: 0.95;
}

header a {
    text-decoration: none;
    color: #222;
}

.content {
    padding: 2em 0;
}

pre, code {
    font-family: Inconsolata, monospace;
}

pre {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 1em;
    overflow: auto;
}

code {
    background: #f9f9f9;
}

footer {
    font-size: small;
    text-align: center;
}

dt, dd {
    margin: .5em;
}

dd {
    margin-left: 3em;
}

dt {
    margin-top: 1em;
}
